.roomList {
  width: 100%;
  color: white;
  background: url(./roomTable.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}

.table {
  width: 100%;
  padding: 5px;
  tbody {
    tr{
        td{
            font-family: "Bai Jamjuree";
            padding-left: 10px;
        }
    }
  }
}

.tableHeader {
  text-align: left;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 20px;
}