.button {
  font-family: 'Bungee', cursive;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  display: inline-flex;

  background: url(./ButtonStart.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;

  span {
    padding: 30px;
    font-size: 50px;
    line-height: 50px;
    color: #fecb2f;
  }
}
