.rocket {
  z-index: -1;
  position: absolute;
  overflow: hidden;
  pointer-events: none;

  svg {
    display: block;
    width: 23%;
    height: 100%;
    margin-top: 28%;
    margin-left: 38%;
  }
}
