.gameRoom {
  position: relative;
  display: flex;

  width: 100vw;
  height: 100vh;
  .header{
    top: 0;
    position: absolute;
    width:100%;
    z-index:2
  }
  .board {
    width: 80vh;
    height: 80vh;
    display: grid;
    z-index: 2;
    position: relative;
    margin: auto;

    .cell,
    .player,
    .cellItem {
      padding: 0;
      margin: 0;
      overflow: hidden;
      svg {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
      }

      border: 1px solid transparent;

      &.highlight {
        border: 1px solid green;
      }
    }

    .cellItem {
      svg {
        margin-left: 25%;
        margin-top: 25%;
        padding: 0;
        width: 50%;
        height: 50%;
      }
    }
  }

  .gameUI {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 3;
  }
}
