.createNewRoom {
  display: flex;
  align-content: center;
  width: 100%;
  height: 100%;
}

.createRoomContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.title {
  width: 100%;
  color: #fdf2ce;
  font-size: 2.5rem;
  text-align: center;
}

.small {
  width: 100%;
  color: #fdf2ce;
  font-size: 1.4rem;
  text-align: center;
}