@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap%27');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Bungee', cursive;
  background: #031927;
}

#__next {
  display: flex;
  height: 100vh;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
