.login {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 500px;
  height: 400px;
  z-index: 3;
}

.title {
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
}

.input {
  margin-bottom: 50px;
  min-height: 48px;
  padding: 3px 10px 5px;
  width: 100%;
}